h2 {
    color: lightsteelblue;
}


.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 50%;
    font-size: 1.8rem;
    border: 0.1rem solid blanchedalmond;
    background-color: cornsilk;
}

.choice-prefix {
    padding: 1px 5px;  
    background-color: darkcyan;
    color: white
}

.choice-text {
    padding: 1px;
    width: 100%;
}

.choice-container:hover {
    cursor: pointer;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.justify-center {
    justify-content: center;
    align-items: center;
}

#hud {
    display: flex;
}

.hud-prefix, .hud-main-text {
    text-align: center;
    font-size: 30px;
}

p { 
    font-size: 14px;
}