body {
    background-image: url("https://cdn.hipwallpaper.com/i/53/41/A1wskh.jpg");
    background-color: darkcyan;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
}

h1 {
    color: whitesmoke;
    }



/* Container */

.container {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

#rules {
    width: 100vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Buttons */

.btn {
    font-size: medium;
    padding: 5px;
    width: 20%;
    margin: 2.5px;
    border: solid black;
    text-align: center;
    background-color: whitesmoke;
    text-decoration: none;
    color: darkslategrey;

}

.btn:hover {
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

input {
    font-size: medium;
    padding: 5px;
    width: 20%;
    margin: 2.5px;
}